.line{
    text-decoration-line: line-through
}
.text{
    cursor: pointer ;
    font-size: 20px;
}

.box{
    width: 50%;
    padding: 15px;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    justify-content: space-between;
    display:inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
}
.close-button{
    font-size: 30px;
    color: grey;
    font-weight: 600;
    cursor: pointer;
}